// The basics, imported from Largo via Gruntfile.js
@import "variables.less";
@import "mixins.less";

// PS Custom variables
@import "_vars.less";
@import "_mixins.less";

@import "featured-header.less";
@import "archives.less";
@import "forms.less";
@import "page-clean.less";

body {
  font-family: @ps_serif;
}
h1, h2, h3, h4, h5 {
  font-family: @ps_sans_bold;
}
#boilerplate,
#header-search button,
#header-search input,
#site-footer input,
#site-footer select,
#site-footer ul,
#topics-bar ul,
.archive-background .related-topics,
.archive-background .rss-subscribe-link,
.author-box ul li.author-posts-link,
.global-nav,
.labels,
.navbar,
.pager,
.post-social>span,
.stories h5.tag-list,
.subscribe,
.tags,
.widget.largo-series-posts li a,
ul.staff-roster .staff-name {
  font-family: @ps_sans;
}
* {
  box-sizing:border-box;
}
a {
  color: @primary;
  &:hover {
    color: darken(@primary,10%);
  }	
}
h2 a {
  color: @black;
}

#header-search {
  input {
    height: 28px;
  }
  button {
    border: none;
  }
}
#site-header {
  position: relative;
  min-height: 40px;
  margin-top: 1em;
  img {
    max-width: 700px;
  }
  aside {
    margin-bottom: 0;
    position: absolute;
    top: 0;
    right: 0;
    button {
      background: transparent;
      border: 4px solid transparent;
      line-height: 1;
      padding: 0.5em 1em;
      color: @primary;
      font-family: @ps_sans;
      text-transform: uppercase;
      &:hover {
        border-color: @primary;
        background-color: @white;
        color: @primary;
        cursor: pointer;
      }
      &.secondary {
        color: @white;
        border-color: @black;
        background-color: @black;
        &:hover {
          border-color: @black;
          color: @black;
          background-color: @white;
        }
      }
    }
    .textwidget {
      display: table-cell;
    }
  }
  a:hover {
    border-bottom: none;
  }
  a:first-of-type button {
    margin-right: 1em;
  }
}

#main-nav.navbar {
  border-bottom: none;
}
#top-nav {
  text-transform: uppercase;
}
.navbar .nav > li {
  &:first-child a {
    padding-left: 0;
  }
  > a {
    color: @black;
    font-family: @ps_sans_bold;
    font-size: 15px;
  }
}
#topics-bar {
  display: none; //show only on homepage
  ul {
    font-family: @ps_sans;
    li {
      font-size: 16px;
      &.menu-label {
        font-size: 16px;
      }
    }
  }
}
.home #topics-bar {
  display: block;
}
.alert-wrapper {
  background-color: #f7f7f7;
  background: url(../img/dot.png) repeat repeat center center;
  border: 1px solid @black;
  #alert-container {
    padding-top: 0px;
    font-family: @ps_sans_bold;
    a {
      color: @primary;
    }
  }
}

.byline {
  a {
    color: #418cff;
  }

  .by {
    display: none;
  }
}

hr {
  clear: both;
  border-top: 1px solid @neutral3;
  border-bottom: none;
}

.hero {
  background-color: transparent;
}

h1.entry-title {
  color: @black;
}
.entry-content .image p {
  font-size: 15px;
  line-height: 1.2em;
}

.pull-quote, 
.type-pull-quote,
.pullquote {
  margin-bottom: 1em;
  font-family: @ps_sans_bold;
  font-size: 1.6em;
  font-weight: 700;
  font-style: normal;
  line-height: 1.09222;
  padding: 25px 0 20px;
  border-top: 18px solid #000;
  border-bottom: 1px solid #418cff;
}

.pull-quote::after, 
.pull-quote::before, 
.type-pull-quote::after, 
.type-pull-quote::before {
  display: none;
}

// utitility classes for in-story elements
.font-mallory {
  font-family: @ps_sans;
  font-weight: normal;
  line-height: 1em;
  font-size: 2.3em;
  color: @black;
  &.large {
    font-size: 7em;
  }
  &.orange {
    color: @orange;
  }
  &.blue {
    color: @blue; 
  }
  &.pink {
    color: @pink;
  }
}
.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 1em;
  background-color: #eee;
  border: 1px solid #d1d1d1;
  .border-radius( 4px );
  .box-shadow( inset 0 1px 1px rgba(0, 0, 0, 0.05) );
  &.black {
    min-height: 0px;
    padding: 15px;
    background-color: @white;
    border: 8px solid @black;
    .border-radius( 1px );
  } 
}
// for backwards compatibility with older articles
.black-well {
  min-height: 0px;
  padding: 15px;
  margin-bottom: 1em;
  background-color: #fff;
  border: 8px solid #000;
  .border-radius( 1px );
  .box-shadow( inset 0 1px 1px rgba(0, 0, 0, 0.05) );
}

.widget.largo-donate {
  text-align: center;
  .widgettitle {
    text-transform: none;
    font-family: @ps_sans;
    font-size: 1.5em;
  }
  .btn {
    background: none;
    color: @blue;
    text-transform: uppercase;
    font-family: @ps_sans_bold;
    font-size: 2em;
    &:hover {
	  color: lighten(@blue, 10%)
    }
  }
  &.rev {
    background-color: @black;  
    .widgettitle {
	  background-color: @black;
	  color: @white;
    }
  }
}
.largo-follow .social-btn {
  background-color: @black !important;
  &.subscribe i {
    color: @primary;
  }
  &:hover {
    background-color: lighten( @black, 10% ) !important;
  }
}
.archive-background {
  h1 {
    margin-bottom: 0.5em;
    font-family: @ps_sans_bold;
    color: @black;
    display: inline-block;
    width: auto;
    text-align: left;
    font-size: 2em;
    text-transform: uppercase;
    border-bottom: 5px @blue solid;
  }
  .author-box img {
    float: left;
    margin: 5px 15px 10px 0;
    padding: 4px;
    border: 1px solid @grayLighter;
  }
  @media( max-width: 600px ) {
    .rss-subscribe-link {
	  display: none;
    }
  }
}

#site-footer input.search-query {
  height: auto;
}