// The basics, imported from Largo via Gruntfile.js
@import "variables.less";
@import "mixins.less";

// PS Custom variables
@import "_vars.less";
@import "_mixins.less";

// Use the PS custom variables to change largo defaults
@import "typography.less";

* {
  box-sizing:border-box;
}

// The buttons in the desktop-width header
#site-header {
  position: relative;
  min-height:40px;
  margin-top:1em;

  img {
    max-width:700px;
  }

  aside {
    margin-bottom: 0;
    position: absolute;
    top: 0;
    right: 0;

    button {
    background: @white;
    border: 4px solid transparent;
    line-height: 1;
    padding: .5em 1em;
    color: @neutral2;
    font-family: @ps_sans;
    text-transform: uppercase;

      &:hover {
        border-color:@primary;
        color:@primary;
        cursor:pointer;
      }

      &.secondary {
        border-color: @black;
        background-color: @black;
        color: @white;

        &:hover {
          border-color:@black;
          background-color: @white;
          color:@black;
        }
      }
    }

    .textwidget {
      display: table-cell;
    }
  }
  a:hover {
  border-bottom:none;
  }

  a:first-of-type button {
    margin-right:1em;
  }
}

#main-nav.navbar {
  border-bottom: none;
}
#top-nav {
  text-transform: uppercase;
}
.navbar .nav > li > a {
  color: @black;
  font-family: @ps_sans_bold;
  font-weight: 700;
}

.alert-wrapper {
  background-color: #f7f7f7;
  background: url(../img/dot.png) repeat repeat center center;
  border: 4px solid @black;

  #alert-container {
    padding-top: 0px;
  }

  #alert-container a {
    color: @black;
    font-family: @ps_sans_bold;
  }
}

.byline .by {
  display: none;
}

hr {
  border-top: 1px solid @neutral3;
  border-bottom: none;
}

.hero {
  background-color: transparent;
}
