.heading-treatment {
  text-align: center;
  font-family: 'tk-mallory-n7', sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  color: #232323;
  margin-bottom: 2em;
}
.heading-treatment span {
  border-bottom: 4px solid #418cff;
  padding-bottom: .25em;
}
.button-styles button {
  background: #418cff;
  border: 4px solid transparent;
  line-height: 1;
  padding: 1em 1.5em;
  color: #ffffff;
  font-family: 'tk-mallory-n7', sans-serif;
  text-transform: uppercase;
}
.button-styles button a,
.button-styles button a:visited {
  color: #ffffff;
}
.button-styles button:hover {
  background: #418cff;
}
.button-styles button.secondary {
  background: #fb4834;
}
.button-styles button.secondary:hover {
  background-color: #ff4530;
}
.button-styles button.alt1 {
  background: #fb4834;
}
.button-styles button.alt1:hover {
  background: #f71d05;
}
.button-styles button.alt2 {
  background: #ffffff;
  border-color: #418cff;
  color: #418cff;
}
.button-styles button.alt2:hover {
  background: #ffffff;
  border-color: #418cff;
  color: #418cff;
}
.prominence-sponsored-tag {
  content: 'sponsored';
  text-transform: uppercase;
  background-color: #fc7566;
  color: #ffffff;
  padding: .25em .5em;
  display: inline-block;
}
.prominence-commentary-tag {
  content: 'commentary';
  text-transform: uppercase;
  background-color: #74abff;
  color: #ffffff;
  padding: .25em .5em;
  display: inline-block;
}
.prominence-bigger-tag {
  font-size: 12px;
}
.prominence-smaller-tag {
  font-size: 10px;
}
.twocolumn {
  display: block;
  width: 48.93617021%;
  min-height: 28px;
  box-sizing: border-box;
  float: left;
  margin-left: 0;
}
.twocolumn:nth-child( 2n ) {
  margin-left: 2.12765957%;
}
.twocolumn:nth-child( 2n + 1 ) {
  clear: left;
}
.onecolumn {
  clear: both;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}
.homepage-border {
  border-bottom: 5px #418cff solid;
}
.homepage-section-header {
  border-bottom: 5px #418cff solid;
  font-family: 'tk-mallory-n7', sans-serif;
  color: #232323;
  display: inline-block;
  width: auto;
  text-align: left;
  font-size: 1.3em;
}
hr {
  margin: 2em 0;
}
.interstitial {
  margin-bottom: 2em;
  border-top: 1px solid #c4c4c4;
  clear: both;
}
.interstitial .widget {
  padding: 2em 0;
  border-bottom: 1px solid #c4c4c4;
}
@media (max-width: 767px) {
  #header-ad-zone-container aside {
    margin-top: 24px;
  }
  #header-ad-zone-container aside button {
    background: #418cff;
    border: 4px solid transparent;
    line-height: 1;
    padding: 1em 1.5em;
    color: #ffffff;
    font-family: 'tk-mallory-n7', sans-serif;
    text-transform: uppercase;
  }
  #header-ad-zone-container aside button a,
  #header-ad-zone-container aside button a:visited {
    color: #ffffff;
  }
  #header-ad-zone-container aside button:hover {
    background: #418cff;
  }
  #header-ad-zone-container aside button.secondary {
    background: #fb4834;
  }
  #header-ad-zone-container aside button.secondary:hover {
    background-color: #ff4530;
  }
  #header-ad-zone-container aside button.alt1 {
    background: #fb4834;
  }
  #header-ad-zone-container aside button.alt1:hover {
    background: #f71d05;
  }
  #header-ad-zone-container aside button.alt2 {
    background: #ffffff;
    border-color: #418cff;
    color: #418cff;
  }
  #header-ad-zone-container aside button.alt2:hover {
    background: #ffffff;
    border-color: #418cff;
    color: #418cff;
  }
}
#homepage-featured {
  margin-bottom: 2em;
}
@media (max-width: 480px) {
  #homepage-featured {
    margin-bottom: 1em;
  }
}
@media (max-width: 768px) {
  #homepage-featured > .span8,
  #homepage-featured > .span4 {
    clear: both;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}
#home-below-top-stories .widget {
  padding: 0;
}
#home-recent-grid .span6 {
  position: relative;
  margin-bottom: 1em;
}
#home-recent-grid .span6 h5.top-tag {
  position: absolute;
  top: 0;
  background: #000;
  font-family: 'tk-mallory-n3', sans-serif;
}
#home-recent-grid .span6 h5.top-tag a {
  color: #ffffff;
  padding: .25em .5em;
  font-size: 12px;
  line-height: 2;
}
#home-recent-grid .span6 h5.top-tag:hover {
  background-color: #418cff;
}
#home-recent-grid .span6 h5.top-tag:hover a {
  text-decoration: none;
}
#home-recent-grid .span6 img {
  margin-bottom: 0.65em;
}
#home-recent-grid .span6 h3 {
  margin-bottom: 0.35em;
  font-family: 'tk-mallory-n3', sans-serif;
  font-size: 20px;
}
#home-recent-grid .span6 h3 a {
  color: #232323;
}
#home-recent-grid .span6 h3 a:hover {
  color: #418cff;
  text-decoration: none;
}
#home-recent-grid .span6:nth-child( 2n + 1 ) {
  clear: both;
  margin-left: 0;
}
@media (max-width: 769px) {
  #home-recent-grid .span6 {
    clear: both;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  #home-recent-grid .span6:last-child {
    margin-bottom: 0;
  }
}
@media (max-width: 480px) {
  #home-recent-grid {
    margin-bottom: 1em;
  }
  #home-recent-grid .span8,
  #home-recent-grid .span4 {
    width: 100%;
    clear: both;
  }
}
#home-middle-feature .top-tag-wrap {
  text-align: center;
  margin-bottom: 1em;
}
#home-middle-feature .top-tag {
  border-bottom: 5px #418cff solid;
  font-family: 'tk-mallory-n7', sans-serif;
  color: #232323;
  display: inline-block;
  width: auto;
  text-align: left;
  font-size: 1.3em;
}
#home-middle-feature .span8 {
  margin-left: 0;
}
#home-middle-feature img {
  width: 100%;
  margin-bottom: 2em;
}
#home-middle-feature h3 {
  margin-bottom: 0.5em;
}
#home-middle-feature h3 a {
  color: #232323;
}
#home-middle-feature h3 a:hover {
  color: #418cff;
  text-decoration: none;
}
#home-middle-feature .byline a:hover {
  color: #232323;
  text-decoration: none;
}
#home-middle-feature p {
  font-size: 18px;
}
@media (max-width: 769px) {
  #home-middle-feature .span8,
  #home-middle-feature .span4 {
    clear: both;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  #home-middle-feature img {
    margin-bottom: 0.5em;
  }
  #home-middle-feature h3 {
    font-size: 20px;
  }
}
@media (max-width: 480px) {
  #home-middle-feature p {
    display: none;
  }
  #home-middle-feature h5.byline {
    margin-bottom: 2em;
  }
}
#home-category-grid h3.widgettitle {
  border-bottom: 5px #418cff solid;
  font-family: 'tk-mallory-n7', sans-serif;
  color: #232323;
  display: inline-block;
  width: auto;
  text-align: left;
  font-size: 1.3em;
}
#home-category-grid h3.widgettitle a:hover {
  text-decoration: none !important;
  color: #418cff !important;
}
#home-category-grid .widget {
  text-align: center;
}
#home-category-grid .widget ul li:nth-child(2),
#home-category-grid .widget ul li:nth-child(3) {
  padding-top: 1em;
  border-top: solid 1px #c4c4c4;
}
#home-category-grid .widget ul li:nth-child(2) a img,
#home-category-grid .widget ul li:nth-child(3) a img {
  display: none;
}
#home-category-grid .widget h5 {
  font-family: 'tk-mallory-n3', sans-serif;
  font-size: 18px;
  margin-bottom: 0;
  text-align: left;
}
#home-category-grid .widget h5 a {
  color: #232323;
}
#home-category-grid .widget h5 a:hover {
  color: #418cff;
  text-decoration: none;
}
#home-category-grid .widget p.morelink {
  margin-top: -8px;
  font-style: italic;
  text-align: left;
  font-family: 'tk-mallory-n3', sans-serif;
}
#home-category-grid .widget p.morelink a:hover {
  color: #232323;
  text-decoration: none;
}
@media (max-width: 480px) {
  #home-category-grid .widget {
    margin-bottom: 2em;
  }
  #home-category-grid .widget h5 {
    font-size: 20px;
  }
  #home-category-grid .widget:last-child {
    margin-bottom: 0;
  }
}
@media (max-width: 480px) {
  #home-category-grid {
    margin-bottom: 1em;
  }
}
@media (min-width: 481px) and (max-width: 900px) {
  #home-category-grid .span3 {
    display: block;
    width: 48.93617021%;
    min-height: 28px;
    box-sizing: border-box;
    float: left;
    margin-left: 0;
  }
  #home-category-grid .span3:nth-child( 2n ) {
    margin-left: 2.12765957%;
  }
  #home-category-grid .span3:nth-child( 2n + 1 ) {
    clear: left;
  }
}
@media (max-width: 480px) {
  #home-category-grid .span3 {
    clear: both;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}
#home-bottom-feature h3.widgettitle {
  border-bottom: 5px #418cff solid;
  font-family: 'tk-mallory-n7', sans-serif;
  color: #232323;
  display: inline-block;
  width: auto;
  text-align: left;
  font-size: 1.3em;
  margin-bottom: 1em;
}
#home-bottom-feature .widget {
  text-align: center;
}
#home-bottom-feature .largo-recent-posts li {
  margin-bottom: 2em;
}
@media (min-width: 769px) {
  #home-bottom-feature .largo-recent-posts li {
    display: block;
    width: 48.93617021%;
    min-height: 28px;
    box-sizing: border-box;
    float: left;
    margin-left: 0;
  }
  #home-bottom-feature .largo-recent-posts li:nth-child( 2n ) {
    margin-left: 2.12765957%;
  }
  #home-bottom-feature .largo-recent-posts li:nth-child( 2n + 1 ) {
    clear: left;
  }
}
#home-bottom-feature h5 {
  font-family: 'tk-mallory-n7', sans-serif;
  font-size: 24px;
}
#home-bottom-feature h5 a {
  color: #232323;
}
#home-bottom-feature h5 a:hover {
  color: #418cff;
  text-decoration: none;
}
#home-bottom-feature .byline a:hover {
  color: #232323;
  text-decoration: none;
}
@media (max-width: 480px) {
  #home-bottom-feature .largo-recent-posts li {
    text-align: left;
  }
  #home-bottom-feature h5 {
    font-size: 20px;
  }
}
.byline {
  font-family: 'tk-mallory-n7', sans-serif;
}
.byline a {
  color: #418cff;
}
.byline .job-title {
  display: none;
}
#mc_embed_signup form {
  vertical-align: middle;
  width: 100%;
  text-align: center;
}
#mc_embed_signup .visuallyhidden {
  display: none;
}
#mc_embed_signup label {
  display: inline-block;
  background-color: #232323;
  color: #ffffff;
  padding: 0 20px;
  line-height: 40px;
  font-size: 26.66666667px;
  font-family: 'tk-mallory-n3', sans-serif;
  white-space: nowrap;
  margin-right: 40px;
  margin-bottom: 0;
  position: relative;
}
#mc_embed_signup label:after {
  border-color: transparent transparent transparent #232323;
  border-width: 20px;
  border-style: solid;
  font-size: 0;
  height: 0;
  width: 0;
  box-sizing: content-box;
  content: '';
  line-height: 0;
  position: absolute;
  top: 0;
  right: -40px;
}
#mc_embed_signup input {
  display: inline-block;
  margin-bottom: 0;
  margin-top: -9px;
  height: 40px;
}
#mc_embed_signup input[type=submit] {
  background-color: #232323;
  border: 4px solid #232323;
  padding: 0.5em 1em;
  line-height: 1;
  font-family: 'tk-mallory-n3', sans-serif;
  color: #ffffff;
  text-transform: uppercase;
}
#mc_embed_signup input[type=submit]:hover {
  background-color: #ffffff;
  color: #232323;
}
@media (max-width: 820px) {
  #mc_embed_signup label {
    display: block;
    clear: both;
    margin-right: 0;
    font-size: 22px;
  }
  #mc_embed_signup label::after {
    display: none;
  }
  #mc_embed_signup input:first-of-type {
    clear: left;
  }
  #mc_embed_signup input {
    margin-top: 0.5em;
  }
}
