/**
 * @group Color
 * @label Base Color (used for navbar, widget titles, etc.)
 * @type color
 * @default_value #2275bb
 */
/**
 * @group Color
 * @label Header/Footer Color
 * @type color
 * @default_value #222
 */
/**
 * @group Color
 * @label Pre-Footer Color
 * @type color
 * @default_value #ddd
 */
/**
 * @group Color
 * @label Color of links
 * @type color
 * @default_value #2275bb
 */
/**
 * @group Color
 * @label Hover color of links
 * @type color
 * @default_value #2275bb
 */
/**
 * @group Color
 * @label Background color of post meta boxes (author bio, related posts, etc.)
 * @type color
 * @default_value #fff
 */
/**
 * @group Basics
 * @label Body Background Color
 * @type color
 * @default_value #fff
 */
/**
 * @group Basics
 * @label Page Background Color
 * @type color
 * @default_value #fff
 */
/**
 * @group Basics
 * @label Text Color
 * @type color
 * @default_value #333
 */
/**
 * @group Basics
 * @label Default Vertical Spacing
 * @type pixels
 * @default_value 24px
 */
/**
 * @group Typography
 * @label Sans Font Family
 * @type text
 * @default_value "Helvetica Neue", Helvetica, Arial, sans-serif
 */
/**
 * @group Typography
 * @label Serif Font Family
 * @type text
 */
/**
 * @group Typography
 * @label Base Font Size
 * @type pixels
 */
/**
 * @group Typography
 * @label Sans Font Family
 * @type dropdown
 * @options @serifFontFamily|@sansFontFamily
 * @default_value @serifFontFamily
 */
/**
 * @group Typography
 * @label Base Line Height
 * @type text
 * @default_value 1.5
 */
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
.visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 28px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.twocolumn {
  display: block;
  width: 48.93617021%;
  min-height: 28px;
  box-sizing: border-box;
  float: left;
  margin-left: 0;
}
.twocolumn:nth-child( 2n ) {
  margin-left: 2.12765957%;
}
.twocolumn:nth-child( 2n + 1 ) {
  clear: left;
}
.onecolumn {
  clear: both;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}
.heading-treatment {
  text-align: center;
  font-family: 'tk-mallory-n7', sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  color: #232323;
  margin-bottom: 2em;
}
.heading-treatment span {
  border-bottom: 4px solid #418cff;
  padding-bottom: 0.25em;
}
.button-styles button {
  background: #418cff;
  border: 4px solid transparent;
  line-height: 1;
  padding: 1em 1.5em;
  color: #ffffff;
  font-family: 'tk-mallory-n7', sans-serif;
  text-transform: uppercase;
}
.button-styles button a,
.button-styles button a:visited {
  color: #ffffff;
}
.button-styles button:hover {
  background: #418cff;
}
.button-styles button.secondary {
  background: #fb4834;
}
.button-styles button.secondary:hover {
  background-color: #ff4530;
}
.button-styles button.alt1 {
  background: #fb4834;
}
.button-styles button.alt1:hover {
  background: #f71d05;
}
.button-styles button.alt2 {
  background: #ffffff;
  border-color: #418cff;
  color: #418cff;
}
.button-styles button.alt2:hover {
  background: #ffffff;
  border-color: #418cff;
  color: #418cff;
}
.prominence-sponsored-tag {
  content: 'sponsored';
  text-transform: uppercase;
  background-color: #fc7566;
  color: #ffffff;
  padding: .25em .5em;
  display: inline-block;
}
.prominence-commentary-tag {
  content: 'commentary';
  text-transform: uppercase;
  background-color: #74abff;
  color: #ffffff;
  padding: .25em .5em;
  display: inline-block;
}
.prominence-bigger-tag {
  font-size: 12px;
}
.prominence-smaller-tag {
  font-size: 10px;
}
/*
 * Styles for the homepage and category featured headers
 */
.top-story {
  position: relative;
}
.top-story .has-thumbnail {
  display: block;
  width: 100%;
  position: absolute;
  bottom: -1px;
  padding: 4em 2em 1.5em;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.7) 40%, rgba(0, 0, 0, 0.95) 100%);
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.7) 40%, rgba(0, 0, 0, 0.95) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.7) 40%, rgba(0, 0, 0, 0.95) 100%);
  color: #ffffff;
  text-align: center;
}
.top-story .has-thumbnail a.clickable {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.top-story .has-thumbnail .has-thumbnail-inner {
  position: relative;
  z-index: 1;
}
.top-story .has-thumbnail h2 {
  font-size: 32px;
  margin-bottom: .3em;
  line-height: 1.25;
}
.top-story .has-thumbnail h2 a {
  color: #ffffff;
}
.top-story .has-thumbnail h2 a:hover {
  color: #418cff;
  text-decoration: none;
}
.top-story .has-thumbnail .excerpt p {
  font-size: 1em;
}
.top-story .has-thumbnail h5.byline {
  margin-bottom: 0;
  font-size: 13px;
}
@media (max-width: 980px) {
  .top-story img {
    margin-bottom: 0.5em;
  }
  .top-story .has-thumbnail {
    background: none;
    padding: 0;
    color: #232323;
    position: inherit;
  }
  .top-story .has-thumbnail .has-thumbnail-inner {
    position: inherit;
    display: block;
    clear: both;
    text-align: left;
  }
  .top-story .has-thumbnail h2 a {
    color: #232323;
  }
  .top-story .has-thumbnail .excerpt p {
    margin-bottom: 0.5em;
  }
}
@media (max-width: 768px) {
  .top-story {
    margin-bottom: 1em;
    padding-bottom: 2em;
    border-bottom: 1px solid #c4c4c4;
  }
  .top-story .has-thumbnail-inner h2 {
    font-size: 24px;
  }
  .top-story .excerpt {
    display: none;
  }
}
.sub-stories .story {
  margin-bottom: 1.5em;
}
.sub-stories h3 {
  margin-bottom: 0.35em;
  font-family: 'tk-mallory-n3', sans-serif;
  font-size: 20px;
}
.sub-stories h3 a {
  color: #232323;
}
.sub-stories h3 a:hover {
  color: #418cff;
  text-decoration: none;
}
.sub-stories h5.byline {
  font-size: 13px;
}
.sub-stories h5.byline a:hover {
  color: #232323;
  text-decoration: none;
}
@media (max-width: 768px) {
  .sub-stories .story {
    padding-bottom: 0.5em;
    border-bottom: 1px solid #c4c4c4;
    margin-bottom: 1em;
  }
  .sub-stories .story:nth-child(4) {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
  }
  .sub-stories h3 {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  #category-featured > .span8,
  #category-featured > .span4 {
    clear: both;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}
/*
 * Styles for archives and topic pages
 */
.archive .byline .job-title {
  display: none;
}
.archive .interstitial .widget {
  padding: 1em;
}
.gform_wrapper.donation_form_wrapper .gfield_required,
.gform_wrapper.signup_form_wrapper .gfield_required,
.gform_wrapper.donation_form_wrapper .ginput_product_price_label,
.gform_wrapper.signup_form_wrapper .ginput_product_price_label {
  display: none;
}
.gform_wrapper.donation_form_wrapper h2.gsection_title,
.gform_wrapper.signup_form_wrapper h2.gsection_title {
  font-size: 32px;
}
.gform_wrapper.donation_form_wrapper .gsection,
.gform_wrapper.signup_form_wrapper .gsection {
  border-bottom: 1px solid #c4c4c4;
}
.gform_wrapper.donation_form_wrapper .field_sublabel_above,
.gform_wrapper.signup_form_wrapper .field_sublabel_above {
  height: auto;
  margin-bottom: 0;
}
.gform_wrapper.donation_form_wrapper .top_label .gfield_label,
.gform_wrapper.signup_form_wrapper .top_label .gfield_label,
.gform_wrapper.donation_form_wrapper .field_sublabel_above .ginput_complex.ginput_container label,
.gform_wrapper.signup_form_wrapper .field_sublabel_above .ginput_complex.ginput_container label {
  font-size: 0.875em;
  margin: 0.75em 0 0.188em;
}
.gform_wrapper.donation_form_wrapper .gfield_checkbox li label,
.gform_wrapper.signup_form_wrapper .gfield_checkbox li label {
  max-width: 95%;
  margin: 4px 0 0 10px;
}
@media (max-width: 680px) {
  .gform_wrapper.donation_form_wrapper .gfield_checkbox li label,
  .gform_wrapper.signup_form_wrapper .gfield_checkbox li label {
    max-width: 85%;
  }
}
.gform_wrapper.donation_form_wrapper .gform_button,
.gform_wrapper.signup_form_wrapper .gform_button,
.gform_wrapper.donation_form_wrapper .gform_next_button,
.gform_wrapper.signup_form_wrapper .gform_next_button,
.gform_wrapper.donation_form_wrapper .gform_previous_button,
.gform_wrapper.signup_form_wrapper .gform_previous_button {
  padding: 12px 36px;
  background-color: #418cff;
  color: #fff;
  font-family: 'tk-mallory-n3', sans-serif;
  border: none;
  font-size: 21px;
  font-weight: bold;
}
.gform_wrapper.donation_form_wrapper .gform_button[type=submit],
.gform_wrapper.signup_form_wrapper .gform_button[type=submit],
.gform_wrapper.donation_form_wrapper .gform_next_button,
.gform_wrapper.signup_form_wrapper .gform_next_button {
  background-color: #fb4834;
  position: relative;
  top: -4px;
}
.gform_wrapper.donation_form_wrapper.gf_browser_chrome .ginput_complex .ginput_right select,
.gform_wrapper.signup_form_wrapper.gf_browser_chrome .ginput_complex .ginput_right select,
.gform_wrapper.donation_form_wrapper.gf_browser_chrome .ginput_complex select,
.gform_wrapper.signup_form_wrapper.gf_browser_chrome .ginput_complex select {
  height: 41px;
  margin-bottom: 0 !important;
}
.gform_wrapper.donation_form_wrapper.gf_browser_chrome .gfield_checkbox li input[type=checkbox],
.gform_wrapper.signup_form_wrapper.gf_browser_chrome .gfield_checkbox li input[type=checkbox] {
  margin-top: 0.25em;
}
.gform_wrapper.donation_form_wrapper #field_1_15 .gfield_label {
  display: none;
}
.gform_wrapper.donation_form_wrapper label.gfield_label + div.ginput_container {
  margin-top: 0;
}
.gform_wrapper.donation_form_wrapper .gfield_price {
  width: 30%;
  float: left;
}
.gform_wrapper.donation_form_wrapper .gfield_price .ginput_amount {
  width: 100%;
}
@media (max-width: 1050px) {
  .gform_wrapper.donation_form_wrapper .gfield_price {
    width: 35%;
  }
}
@media (max-width: 980px) {
  .gform_wrapper.donation_form_wrapper .gfield_price {
    width: 50%;
  }
}
.gform_wrapper.donation_form_wrapper #field_1_15 {
  clear: none;
}
.gform_wrapper.donation_form_wrapper ul {
  font-size: 19.55px;
}
.gform_wrapper.donation_form_wrapper ul.gfield_radio {
  position: relative;
  top: 53px;
  display: inline;
}
.gform_wrapper.donation_form_wrapper ul.gfield_radio li {
  display: inline;
  margin-right: 12px;
  width: auto;
}
.gform_wrapper.donation_form_wrapper ul.gfield_radio li input {
  display: none;
}
.gform_wrapper.donation_form_wrapper ul.gfield_radio li label {
  padding: 7px 24px;
  margin: 0;
  background-color: #418cff;
  font-size: 18px;
  font-family: 'tk-mallory-n3', sans-serif;
  color: #fff;
}
.gform_wrapper.donation_form_wrapper ul.gfield_radio li input[type=radio]:checked + label {
  background-color: #fb4834;
  font-weight: 500;
}
@media (max-width: 620px) {
  .gform_wrapper.donation_form_wrapper ul.gfield_radio li {
    display: block;
    margin: 10px 0 0;
    text-align: center;
  }
  .gform_wrapper.donation_form_wrapper ul.gfield_radio li label {
    width: 100%;
  }
}
@media (max-width: 1170px) {
  .gform_wrapper.donation_form_wrapper ul.gfield_radio {
    clear: both;
    top: 0;
    left: 0;
  }
}
@media (max-width: 1170px) {
  .gform_wrapper.donation_form_wrapper .ginput_container_radio {
    clear: both;
  }
}
.gform_wrapper.donation_form_wrapper #field_1_22 {
  margin-bottom: 1em;
}
.gform_wrapper.donation_form_wrapper #input_1_22 {
  top: 0;
}
.gform_wrapper.donation_form_wrapper #field_1_23 {
  position: relative;
  top: 36px;
}
.gform_wrapper.donation_form_wrapper .ginput_container_address,
.gform_wrapper.donation_form_wrapper .gfield_total,
.gform_wrapper.donation_form_wrapper .ginput_container_creditcard {
  margin-bottom: 0.875em;
}
.gform_wrapper.donation_form_wrapper .gfield_price_1_20,
.gform_wrapper.donation_form_wrapper .gfield_total {
  width: 100%;
}
.gform_wrapper.donation_form_wrapper .gfield_price_1_20 .gfield_label,
.gform_wrapper.donation_form_wrapper .gfield_total .gfield_label {
  font-family: 'tk-mallory-n3', sans-serif;
  font-size: 24px;
}
@media (max-width: 480px) {
  .gform_wrapper.donation_form_wrapper .gf_name_has_2 span,
  .gform_wrapper.donation_form_wrapper .ginput_complex .ginput_right,
  .gform_wrapper.donation_form_wrapper .ginput_complex .ginput_left,
  .gform_wrapper.donation_form_wrapper .ginput_complex .ginput_cardinfo_left {
    width: 100% !important;
  }
  .gform_wrapper.donation_form_wrapper ul.gfield_radio li {
    display: block;
    clear: both;
    float: none;
    text-align: center;
  }
  .gform_wrapper.donation_form_wrapper .gfield_price,
  .gform_wrapper.donation_form_wrapper .top_label input.medium {
    width: 100%;
  }
  .gform_wrapper.donation_form_wrapper div.ginput_container_name span {
    margin-right: 0;
    padding-right: 0;
  }
  .gform_wrapper.donation_form_wrapper .ginput_complex .ginput_right {
    margin-left: 0;
  }
  .gform_wrapper.donation_form_wrapper .ginput_complex .ginput_cardinfo_left {
    margin-right: 0;
  }
}
.page-template-page-clean header.text-align-center {
  margin-top: 10px;
  text-align: center;
}
.page-template-page-clean header img.header_img {
  max-width: 600px;
}
@media (max-width: 700px) {
  .page-template-page-clean header img.header_img {
    max-width: 90%;
  }
}
body.normal.page.page-template-page-clean article.page > header.entry-header {
  margin: 24px 0;
  text-align: center;
}
body.normal.page.page-template-page-clean article.page > header h1 {
  padding-top: 0;
}
#page-clean-gohome {
  margin-bottom: -24px;
  margin-top: 10px;
}
body {
  font-family: 'tk-crimson-n5', serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'tk-mallory-n7', sans-serif;
}
#boilerplate,
#header-search button,
#header-search input,
#site-footer input,
#site-footer select,
#site-footer ul,
#topics-bar ul,
.archive-background .related-topics,
.archive-background .rss-subscribe-link,
.author-box ul li.author-posts-link,
.global-nav,
.labels,
.navbar,
.pager,
.post-social > span,
.stories h5.tag-list,
.subscribe,
.tags,
.widget.largo-series-posts li a,
ul.staff-roster .staff-name {
  font-family: 'tk-mallory-n3', sans-serif;
}
* {
  box-sizing: border-box;
}
a {
  color: #418cff;
}
a:hover {
  color: #0e6dff;
}
h2 a {
  color: #232323;
}
#header-search input {
  height: 28px;
}
#header-search button {
  border: none;
}
#site-header {
  position: relative;
  min-height: 40px;
  margin-top: 1em;
}
#site-header img {
  max-width: 700px;
}
#site-header aside {
  margin-bottom: 0;
  position: absolute;
  top: 0;
  right: 0;
}
#site-header aside button {
  background: transparent;
  border: 4px solid transparent;
  line-height: 1;
  padding: 0.5em 1em;
  color: #418cff;
  font-family: 'tk-mallory-n3', sans-serif;
  text-transform: uppercase;
}
#site-header aside button:hover {
  border-color: #418cff;
  background-color: #ffffff;
  color: #418cff;
  cursor: pointer;
}
#site-header aside button.secondary {
  color: #ffffff;
  border-color: #232323;
  background-color: #232323;
}
#site-header aside button.secondary:hover {
  border-color: #232323;
  color: #232323;
  background-color: #ffffff;
}
#site-header aside .textwidget {
  display: table-cell;
}
#site-header a:hover {
  border-bottom: none;
}
#site-header a:first-of-type button {
  margin-right: 1em;
}
#main-nav.navbar {
  border-bottom: none;
}
#top-nav {
  text-transform: uppercase;
}
.navbar .nav > li:first-child a {
  padding-left: 0;
}
.navbar .nav > li > a {
  color: #232323;
  font-family: 'tk-mallory-n7', sans-serif;
  font-size: 15px;
}
#topics-bar {
  display: none;
}
#topics-bar ul {
  font-family: 'tk-mallory-n3', sans-serif;
}
#topics-bar ul li {
  font-size: 16px;
}
#topics-bar ul li.menu-label {
  font-size: 16px;
}
.home #topics-bar {
  display: block;
}
.alert-wrapper {
  border: none;
}
.alert-wrapper #alert-container {
  margin: 0;
  padding: 0;
  font-family: 'tk-mallory-n7', sans-serif;
  font-color: #232323;
  text-align: center;
}
.alert-wrapper #alert-container .widget {
  padding: 1em;
}
.alert-wrapper #alert-container a {
  color: #418cff;
}
.byline a {
  color: #418cff;
}
.byline .by {
  display: none;
}
hr {
  clear: both;
  border-top: 1px solid #c4c4c4;
  border-bottom: none;
}
hr.thick {
  border-top: 10px solid #000;
}
.hero {
  background-color: transparent;
}
.hero.span12 {
  margin-left: 0;
}
.hero.is-image img {
  margin-bottom: 0.25em;
}
h1.entry-title {
  color: #232323;
}
.entry-content .image p {
  font-size: 15px;
  line-height: 1.2em;
}
body.normal.single-post p.wp-caption-text,
body.normal.single-post .hero .navis-slideshow p.wpcaption-text {
  font-style: italic;
  font-size: 15px !important;
  line-height: 1.2em;
}
body.normal.single-post .hero p.wp-caption-text {
  margin-bottom: 0;
}
body.normal.single-post .hero .navis-slideshow p.wp-caption-text {
  margin-left: 0;
}
.pull-quote,
.type-pull-quote,
.pullquote {
  margin-bottom: 1em;
  font-family: 'tk-mallory-n7', sans-serif;
  font-size: 1.6em;
  font-weight: 700;
  font-style: normal;
  line-height: 1.09222;
  padding: 25px 0 20px;
  border-top: 18px solid #000;
  border-bottom: 1px solid #418cff;
}
.pull-quote::after,
.pull-quote::before,
.type-pull-quote::after,
.type-pull-quote::before {
  display: none;
}
.font-mallory {
  font-family: 'tk-mallory-n3', sans-serif;
  font-weight: normal;
  line-height: 1em;
  font-size: 2.3em;
  color: #232323;
}
.font-mallory.large {
  font-size: 7em;
}
.font-mallory.orange {
  color: #ffb441;
}
.font-mallory.blue {
  color: #418cff;
}
.font-mallory.pink {
  color: #ee1c71;
}
.well {
  clear: both;
  min-height: 20px;
  padding: 19px;
  margin-bottom: 1em;
  background-color: #eee;
  border: 1px solid #d1d1d1;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.well.black {
  min-height: 0px;
  padding: 15px;
  background-color: #ffffff;
  border: 5px solid #232323;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
}
.black-well {
  min-height: 0px;
  padding: 15px;
  margin-bottom: 1em;
  background-color: #fff;
  border: 8px solid #000;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.entry-content h4 {
  font-family: 'tk-mallory-n3', sans-serif;
}
.widget,
#sidebar .widget {
  background-color: #f7f7f7;
  background: url(../img/dot.png) repeat repeat center center;
  border: 1px solid #232323;
  padding: 1em;
}
.widget.rev,
#sidebar .widget.rev {
  background: none;
  background-color: #282828;
  border: none;
}
.widget.rev .widgettitle,
#sidebar .widget.rev .widgettitle {
  background-color: #282828;
  color: #ffffff;
}
.widget.no-bg,
#sidebar .widget.no-bg {
  background: none;
  border: none;
}
.widget.largo-donate {
  text-align: center;
}
.widget.largo-donate .widgettitle {
  text-transform: none;
  font-family: 'tk-mallory-n3', sans-serif;
  font-size: 1.5em;
}
.widget.largo-donate p {
  font-family: 'tk-mallory-n3', sans-serif;
  font-size: 18px;
}
.widget.largo-donate .btn {
  background: none;
  color: #418cff;
  text-transform: uppercase;
  font-family: 'tk-mallory-n7', sans-serif;
  font-size: 2em;
}
.widget.largo-donate .btn:hover {
  color: #74abff;
}
.largo-follow .social-btn {
  background-color: #232323 !important;
}
.largo-follow .social-btn.subscribe i {
  color: #418cff;
}
.largo-follow .social-btn:hover {
  background-color: #3d3d3d !important;
}
.widget #mc_embed_signup form {
  vertical-align: middle;
  width: 100%;
  text-align: center;
}
.widget #mc_embed_signup .visuallyhidden {
  display: none;
}
.widget #mc_embed_signup label {
  display: inline-block;
  background-color: #232323;
  color: #ffffff;
  padding: 0 20px;
  line-height: 40px;
  font-size: 26.66666667px;
  font-family: 'tk-mallory-n3', sans-serif;
  white-space: nowrap;
  margin-right: 40px;
  margin-bottom: 0;
  position: relative;
}
.widget #mc_embed_signup label:after {
  border-color: transparent transparent transparent #232323;
  border-width: 20px;
  border-style: solid;
  font-size: 0;
  height: 0;
  width: 0;
  box-sizing: content-box;
  content: '';
  line-height: 0;
  position: absolute;
  top: 0;
  right: -40px;
}
.widget #mc_embed_signup input {
  display: inline-block;
  margin-bottom: 0;
  margin-top: -9px;
  height: 40px;
}
.widget #mc_embed_signup input[type=submit] {
  background-color: #232323;
  border: 4px solid #232323;
  padding: 0.5em 1em;
  line-height: 1;
  font-family: 'tk-mallory-n3', sans-serif;
  color: #ffffff;
  text-transform: uppercase;
}
.widget #mc_embed_signup input[type=submit]:hover {
  background-color: #ffffff;
  color: #232323;
}
@media (max-width: 900px) {
  .widget #mc_embed_signup label {
    display: block;
    clear: both;
    margin-right: 0;
    font-size: 22px;
  }
  .widget #mc_embed_signup label::after {
    display: none;
  }
  .widget #mc_embed_signup input {
    margin-top: 0.5em;
  }
  .widget #mc_embed_signup input:first-of-type {
    clear: left;
  }
}
.archive .interstitial .widget #mc_embed_signup {
  padding-bottom: 2em;
  border-bottom: 1px solid #c4c4c4;
}
.archive .interstitial .widget #mc_embed_signup label {
  display: block;
  clear: both;
  margin-right: 0;
  font-size: 22px;
}
.archive .interstitial .widget #mc_embed_signup label::after {
  display: none;
}
.archive .interstitial .widget #mc_embed_signup input {
  margin-top: 0.5em;
}
.archive .interstitial .widget #mc_embed_signup input:first-of-type {
  clear: left;
}
.archive .interstitial .widget.no-bg {
  padding: 0 !important;
}
.archive-background h1 {
  margin-bottom: 0.5em;
  font-family: 'tk-mallory-n7', sans-serif;
  color: #232323;
  display: inline-block;
  width: auto;
  text-align: left;
  font-size: 2em;
  text-transform: uppercase;
  border-bottom: 5px #418cff solid;
}
.archive-background .widget {
  padding: 0;
  background: none;
  border: none;
}
.archive-background .author-box img {
  float: left;
  margin: 5px 15px 10px 0;
  padding: 4px;
  border: 1px solid #c4c4c4;
}
@media (max-width: 600px) {
  .archive-background .rss-subscribe-link {
    display: none;
  }
}
#site-footer input.search-query {
  height: auto;
}
