/**
 * @group Color
 * @label Base Color (used for navbar, widget titles, etc.)
 * @type color
 * @default_value #2275bb
 */
/**
 * @group Color
 * @label Header/Footer Color
 * @type color
 * @default_value #222
 */
/**
 * @group Color
 * @label Pre-Footer Color
 * @type color
 * @default_value #ddd
 */
/**
 * @group Color
 * @label Color of links
 * @type color
 * @default_value #2275bb
 */
/**
 * @group Color
 * @label Hover color of links
 * @type color
 * @default_value #2275bb
 */
/**
 * @group Color
 * @label Background color of post meta boxes (author bio, related posts, etc.)
 * @type color
 * @default_value #fff
 */
/**
 * @group Basics
 * @label Body Background Color
 * @type color
 * @default_value #fff
 */
/**
 * @group Basics
 * @label Page Background Color
 * @type color
 * @default_value #fff
 */
/**
 * @group Basics
 * @label Text Color
 * @type color
 * @default_value #333
 */
/**
 * @group Basics
 * @label Default Vertical Spacing
 * @type pixels
 * @default_value 24px
 */
/**
 * @group Typography
 * @label Sans Font Family
 * @type text
 * @default_value "Helvetica Neue", Helvetica, Arial, sans-serif
 */
/**
 * @group Typography
 * @label Serif Font Family
 * @type text
 */
/**
 * @group Typography
 * @label Base Font Size
 * @type pixels
 */
/**
 * @group Typography
 * @label Sans Font Family
 * @type dropdown
 * @options @serifFontFamily|@sansFontFamily
 * @default_value @serifFontFamily
 */
/**
 * @group Typography
 * @label Base Line Height
 * @type text
 * @default_value 1.5
 */
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
.visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 28px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.heading-treatment {
  text-align: center;
  font-family: 'tk-mallory-n7', sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  color: #232323;
  margin-bottom: 2em;
}
.heading-treatment span {
  border-bottom: 4px solid #418cff;
  padding-bottom: .25em;
}
.button-styles button {
  background: #418cff;
  border: 4px solid transparent;
  line-height: 1;
  padding: 1em 1.5em;
  color: #ffffff;
  font-family: 'tk-mallory-n7', sans-serif;
  text-transform: uppercase;
}
.button-styles button a,
.button-styles button a:visited {
  color: #ffffff;
}
.button-styles button:hover {
  background: #418cff;
}
.button-styles button.secondary {
  background: #fb4834;
}
.button-styles button.secondary:hover {
  background-color: #ff4530;
}
.button-styles button.alt1 {
  background: #fb4834;
}
.button-styles button.alt1:hover {
  background: #f71d05;
}
.button-styles button.alt2 {
  background: #ffffff;
  border-color: #418cff;
  color: #418cff;
}
.button-styles button.alt2:hover {
  background: #ffffff;
  border-color: #418cff;
  color: #418cff;
}
.prominence-sponsored-tag {
  content: 'sponsored';
  text-transform: uppercase;
  background-color: #fc7566;
  color: #ffffff;
  padding: .25em .5em;
  display: inline-block;
}
.prominence-commentary-tag {
  content: 'commentary';
  text-transform: uppercase;
  background-color: #74abff;
  color: #ffffff;
  padding: .25em .5em;
  display: inline-block;
}
.prominence-bigger-tag {
  font-size: 12px;
}
.prominence-smaller-tag {
  font-size: 10px;
}
body {
  font-family: 'tk-crimson-n5', serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'tk-mallory-n7', sans-serif;
}
#boilerplate,
#header-search button,
#header-search input,
#site-footer input,
#site-footer select,
#site-footer ul,
#topics-bar ul,
.archive-background,
.related-topics,
.archive-background .rss-subscribe-link,
.author-box ul li.author-posts-link,
.global-nav,
.labels,
.navbar,
.pager,
.post-social > span,
.stories h5.tag-list,
.subscribe,
.tags,
.widget.largo-series-posts li a,
ul.staff-roster .staff-name {
  font-family: 'tk-mallory-n4', sans-serif;
}
* {
  box-sizing: border-box;
}
a {
  color: #418cff;
}
a:hover {
  color: #0e6dff;
}
#header-search input {
  height: 28px;
}
#header-search button {
  border: none;
}
#site-header {
  position: relative;
  min-height: 40px;
  margin-top: 1em;
}
#site-header img {
  max-width: 700px;
}
#site-header aside {
  margin-bottom: 0;
  position: absolute;
  top: 0;
  right: 0;
}
#site-header aside button {
  background: transparent;
  border: 4px solid transparent;
  line-height: 1;
  padding: 0.5em 1em;
  color: #418cff;
  font-family: 'tk-mallory-n4', sans-serif;
  text-transform: uppercase;
}
#site-header aside button:hover {
  border-color: #418cff;
  background-color: #ffffff;
  color: #418cff;
  cursor: pointer;
}
#site-header aside button.secondary {
  color: #ffffff;
  border-color: #232323;
  background-color: #232323;
}
#site-header aside button.secondary:hover {
  border-color: #232323;
  color: #232323;
  background-color: #ffffff;
}
#site-header aside .textwidget {
  display: table-cell;
}
#site-header a:hover {
  border-bottom: none;
}
#site-header a:first-of-type button {
  margin-right: 1em;
}
#main-nav.navbar {
  border-bottom: none;
}
#top-nav {
  text-transform: uppercase;
}
.navbar .nav > li:first-child a {
  padding-left: 0;
}
.navbar .nav > li > a {
  color: #232323;
  font-family: 'tk-mallory-n7', sans-serif;
  font-size: 15px;
}
#topics-bar ul {
  font-family: 'tk-crimson-n5', serif;
}
#topics-bar ul li {
  font-size: 17px;
}
#topics-bar ul li.menu-label {
  font-size: 17px;
}
.alert-wrapper {
  background-color: #f7f7f7;
  background: url(../img/dot.png) repeat repeat center center;
  border: 1px solid #232323;
}
.alert-wrapper #alert-container {
  padding-top: 0px;
}
.alert-wrapper #alert-container a {
  color: #232323;
  font-family: 'tk-mallory-n7', sans-serif;
}
.byline a {
  color: #418cff;
}
.byline .by {
  display: none;
}
hr {
  clear: both;
  border-top: 1px solid #c4c4c4;
  border-bottom: none;
}
.hero {
  background-color: transparent;
}
h1.entry-title {
  color: #232323;
}
.pull-quote,
.type-pull-quote {
  font-family: 'tk-mallory-n7', sans-serif;
  font-size: 1.6em;
  font-weight: 700;
  font-style: normal;
  line-height: 1.09222;
  padding: 25px 0 20px;
  border-top: 18px solid #000;
  border-bottom: 1px solid #418cff;
}
.pull-quote::after,
.pull-quote::before,
.type-pull-quote::after,
.type-pull-quote::before {
  display: none;
}
