@font-face {
  font-family: MuliBold;
  src: url(../assets/Muli-Bold.ttf);
  font-weight: bold;
}
.heading-treatment {
  text-align: center;
  font-family: 'Muli-Bold', sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 2em;
}
.heading-treatment span {
  border-bottom: 4px solid #17b0ea;
  padding-bottom: .25em;
}
.button-styles button {
  background: #17b0ea;
  border: 4px solid transparent;
  line-height: 1;
  padding: 1em 1.5em;
  color: #ffffff;
  font-family: 'Muli-Bold', sans-serif;
  text-transform: uppercase;
}
.button-styles button a,
.button-styles button a:visited {
  color: #ffffff;
}
.button-styles button:hover {
  background: #02b9ff;
}
.button-styles button.secondary {
  background: #fb4834;
}
.button-styles button.secondary:hover {
  background-color: #ff4530;
}
.button-styles button.alt1 {
  background: #fb4834;
}
.button-styles button.alt1:hover {
  background: #f71d05;
}
.button-styles button.alt2 {
  background: #ffffff;
  border-color: #17b0ea;
  color: #17b0ea;
}
.button-styles button.alt2:hover {
  background: #ffffff;
  border-color: #02b9ff;
  color: #02b9ff;
}
.prominence-sponsored-tag {
  content: 'sponsored';
  text-transform: uppercase;
  background-color: #fc7566;
  color: #ffffff;
  padding: .25em .5em;
  display: inline-block;
}
.prominence-commentary-tag {
  content: 'commentary';
  text-transform: uppercase;
  background-color: #46c0ee;
  color: #ffffff;
  padding: .25em .5em;
  display: inline-block;
}
.prominence-bigger-tag {
  font-size: 12px;
}
.prominence-smaller-tag {
  font-size: 10px;
}
* {
  box-sizing: border-box;
}
#site-header {
  position: relative;
  min-height: 40px;
  margin-top: 1em;
}
#site-header img {
  max-width: 700px;
}
#site-header aside {
  margin-bottom: 0;
  position: absolute;
  top: 0;
  right: 0;
}
#site-header aside button {
  background: #ffffff;
  border: 4px solid #6e6e6e;
  line-height: 1;
  padding: .5em 1em;
  color: #6e6e6e;
  font-family: 'Muli-Bold', sans-serif;
  text-transform: uppercase;
}
#site-header aside button:hover {
  border-color: #17b0ea;
  color: #17b0ea;
  cursor: pointer;
}
#site-header aside button.secondary {
  border-color: #fb4834;
  color: #fb4834;
}
#site-header aside button.secondary:hover {
  border-color: #000000;
  color: #000000;
}
#site-header aside .textwidget {
  display: table-cell;
}
#site-header a:hover {
  border-bottom: none;
}
#site-header a:first-of-type button {
  margin-right: 1em;
}
